* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 100px; /* Asegura que el contenido no quede oculto detrás del nav */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
  flex: 1;
}
.footerr {
  background-color: #000;
  padding: 20px;
  color: #fff;
}

.footer-section {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  text-align: left;
}

.footer-section li {
  list-style: none; /* Quita los puntos de la lista */
  margin: 0 20px; /* Espacio entre las columnas */
}

.footer-section li a {
  color: #ffffff; /* Color de letra blanco */
  text-decoration: none; /* Quita la decoración del texto */
}

.footer-section li strong {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.footer-section .submenu-footer {
  padding: 0;
  margin-top: 5px;
}

.footer-section .submenu-footer li {
  margin: 2px 0; /* Espacio entre los elementos de la lista */
}

.footer-section .submenu-footer a {
  color: #ffffff; /* Color de letra blanco */
  text-decoration: none; /* Quita la decoración del texto */
  font-size: 13px;
}

.terms-conditions {
  text-align: center;
  padding: 10px 0;
}

.terms-conditions h6,
.terms-conditions p,
.terms-conditions a {
  color: #fff;
  margin: 5px 0;
  font-size: 12px;
}
nav {
  background-color: #000;
  height: 81px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.enlace {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Empuja los enlaces a la derecha */
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto; /* Empuja los enlaces a la derecha */
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  position: relative;
}

nav ul li a {
  color: #ffffff;
  font-size: 11px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li strong {
  font-size: 12px;
}

nav li a:hover {
  background-color: #ececee;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.submenu {
  position: absolute;
  background-color: #000;
  min-width: 160px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

nav ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu li {
  margin: 0;
  width: 100%; /* Asegúrate de que los li ocupen todo el ancho del submenu */
}

.submenu a {
  padding: 5px 10px;
  display: block;
  color: #fff;
  white-space: nowrap;
  line-height: 1.2;
  width: 100%; /* Asegúrate de que los a ocupen todo el ancho del submenu */
}

.submenu a:hover {
  background-color: #333;
}

.link-terms {
  color: #1303f8 !important;
  text-decoration: none;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px 0; /* Ajusta el margen según necesites */
  text-align: left;
}

.social-icons a {
  margin-right: 10px; /* Ajusta el espacio entre los iconos según necesites */
}

.contact-addresses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-addresses a {
  text-align: left;
  display: block;
  margin-bottom: 10px; /* Puedes ajustar el margen según necesites */
  font-size: 13px;
}




/* Estilos para info-section */
.info-section {
  flex: 1; /* Ocupa todo el espacio disponible en la columna */
  padding-right: 20px; /* Espacio a la derecha para separar de la imagen */
  box-sizing: border-box; /* Incluye el padding en el ancho */
}

/* Estilos para image-office */
.image-office {
  width: 30%; /* Ancho fijo para la imagen */
  margin-left: 20px; /* Espacio a la izquierda para separar de info-section */
}

/* Ajustes para mantener la imagen proporcional */
.image-office img {
  width: 100%; /* La imagen ocupa todo el espacio del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  justify-content: start;
  padding-left: 0;
}




@media (max-width: 770px) {
  .about-us h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .checkbtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100; /* Asegura que el botón de hamburguesa esté por encima del contenido */
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
    flex-direction: column; /* Cambia la dirección del flexbox para mostrar los enlaces uno debajo del otro */
    padding-top: 20px; /* Añade espacio superior para el logo */
  }

  nav ul li {
    display: block;
    margin: 20px 0; /* Espacio entre los elementos */
    line-height: normal; /* Ajusta la altura de línea normal para evitar el espaciado adicional */
  }

  nav ul li a {
    font-size: 15px;
    display: block; /* Hace que cada enlace esté en su propia línea */
    padding: 10px; /* Ajusta el espaciado entre enlaces */
  }

  /* Ajuste para el submenu en dispositivos responsivos */
  .submenu {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  nav ul li:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .submenu li {
    text-align: center; /* Centrar los elementos del submenu */
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-section > div {
    margin: 10px 0;
    width: 100%;
  }

  .footer-section h6 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
