* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

nav {
  background-color: #000;
  height: 81px;
  width: 100%;
  position: fixed; /* Cambiar a posición fija */
  top: 0; /* Anclar en la parte superior */
  left: 0; /* Anclar en el lado izquierdo */
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
}


.enlace {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Espacio entre el texto y los enlaces */
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  position: relative;
}

nav ul li a {
  color: #ffffff;
  font-size: 11px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li strong {
  font-size: 12px;
}

li a.active, li a:hover {
  background-color: #ececee;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.submenu {
  position: absolute;
  background-color: #000;
  min-width: 160px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  text-align: left;
  display: flex;
  flex-direction: column; /* Asegura que los elementos hijos estén alineados verticalmente */
}

nav ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu li {
  margin: 0; /* Remueve cualquier margen entre los elementos */
}

.submenu a {
  padding: 5px 10px; /* Reduce el padding para minimizar el espacio entre elementos */
  display: block;
  color: #fff;
  white-space: nowrap;
  line-height: 1.2; /* Reduce la altura de la línea para acercar los elementos */
}

.submenu a:hover {
  background-color: #333;
}

.card {
  margin: 0 auto;
  width: 100%;
}

.card-body {
  text-align: center;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal para dar margen */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
}

.container-services {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* Añadir esta línea */
}

.services-section p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.accordion-container {
  flex-grow: 1; /* Añadir esta línea para que el contenedor del acordeón crezca */
  width: 100%; /* Asegurar que el acordeón ocupe todo el ancho */
}
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos específicos de la página */
.body-home {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.h1-home {
  margin-top: 0;
  font-weight: 700;
  font-size: 50px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 20px;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  padding-left: 20px; /* Ajusta según sea necesario */
}

.h1-index {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 20px;
}

.h2-home {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.people {
  float: left; /* Flota la imagen a la izquierda */
  height: auto; /* Ajusta automáticamente la altura */
  width: 80px; /* Ancho fijo para la imagen */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.h3-home {
  text-align: left;
  margin-left: 10px;
  font-weight: 700;
  font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 8px;
}

.sect {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px); /* Ajusta para restar la altura del nav */
  overflow: hidden;
  margin: 0; /* Asegura que no haya márgenes adicionales */
}

h6 {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 8px;
}

.services-h6 {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 8px;
  margin: 30px 0;
}

.about-us h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #000;
  margin-top: 25px;
  margin-bottom: 30px;
}

.Overview,
.our-people,
.strategic-partners p {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.col-md-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  padding-top: 20px; /* Añadir espacio para el divisor */
}

/* Estilo para el divisor de columnas */
.column-divider {
  position: relative;
  text-align: center; /* Centra el contenido dentro de la columna */
}

/* Estilo para el borde superior */
.column-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Centra el divisor horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición para centrar */
  width: 80%; /* Ajusta el ancho del divisor */
  height: 3px; /* Grosor del divisor */
  background-color: orange; /* Color del divisor */
}
.col-md-4 strong {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
}

.section-projects-h3 h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 200px 200px;
}

.section-projects li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.strategic-partners .partner-content {
  display: flex;
  align-items: flex-start;
}

.strategic-partners .partner-image {
  width: 150px; /* Puedes ajustar el ancho según tus necesidades */
  margin-right: 20px;
  object-fit: cover; /* Para asegurarte de que la imagen se ajuste bien */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.service-item {
  padding-bottom: 15px;
  position: relative;
}

.service-item strong {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.service-item .underline-orange {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 2px;
  background-color: #f59126;
}

.accordion-item {
  margin-bottom: 20px;
  align-items: center;
}

.accordion-btn {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
}

/* ACORDION*/
.accordion-btn:hover {
  background-color: #e0e0e0;
}

.accordion-icon {
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
  font-size: 30px;
}

.accordion-content {
  display: none;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Mostrar contenido cuando se hace clic en el botón */
.active .accordion-content {
  display: block;
}
.active .accordion-icon {
  transform: rotate(45deg);
}

.offices-container {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.info-section {
  background-image: url("../source/imagenes/imagen7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}

.gmail img,
.linkedin img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}

.text-h3 {
  margin-bottom: 20px;
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-h4 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
  padding: 10px;
  background-color: #000;
  color: #ffffff;
  border-radius: 5px;
}

.ubicacion {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #000;
  border-radius: 5px;
}

.ubicacion i {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.ubicacion a {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.ubicacion:hover {
  background-color: #333;
}

.footerr {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  position: absolute;
  width: 100%;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Para espaciar los elementos */
  padding: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.footer-section a:hover {
  color: #a09f9f;
}

.footer-section > div {
  flex: 1; /* Para que cada sección ocupe el mismo ancho */
  margin: 10px;
}

.footer-section h6 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.footer-section p {
  margin: 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  width: 60px;
  height: 60px;
  margin: 0 5px;
}

.terms-conditions {
  width: 100%;
  text-align: center;
  margin-top: 20px; /* Espacio adicional para separarlo del contenido anterior */
}

.terms-conditions a {
  text-decoration: none;
  color: #ffffff;
}

.terms-conditions a:hover {
  color: #a09f9f;
}

@media (max-width: 770px) {
  .h1-index {
    margin-left: 25px;
    font-size: 30px;
    padding: 0 20px;
  }

  .h1-home {
    margin-top: 0;
  }


  .about-us h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .checkbtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100; /* Asegura que el botón de hamburguesa esté por encima del contenido */
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
    flex-direction: column; /* Cambia la dirección del flexbox para mostrar los enlaces uno debajo del otro */
    padding-top: 20px; /* Añade espacio superior para el logo */
  }

  nav ul li {
    display: block;
    margin: 20px 0; /* Espacio entre los elementos */
    line-height: normal; /* Ajusta la altura de línea normal para evitar el espaciado adicional */
  }

  nav ul li a {
    font-size: 15px;
    display: block; /* Hace que cada enlace esté en su propia línea */
    padding: 10px; /* Ajusta el espaciado entre enlaces */
  }

  /* Ajuste para el submenu en dispositivos responsivos */
  .submenu {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  nav ul li:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .submenu li {
    text-align: center; /* Centrar los elementos del submenu */
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-section > div {
    margin: 10px 0;
    width: 100%;
  }

  .footer-section h6 {
    font-size: 18px;
  }
}
