@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.body-home {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.h1-home {
  margin-top: 15px;
  font-family: Arial;
  font-weight: 700;
  font-size: 10vh;
  color: #000;
  animation: backwards;
}

.h2-home {
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  font-size: 5vh;
  color: #000;
}

.h3-home {
  text-align: left;
  margin-left: 10px;
  font-family: Arial;
  font-weight: 700;
  font-size: 3vh;
  color: #000;
}

.Overview,
.our-people,
.strategic-partners p {
  margin: 0 10px 0 10px;
}

.container {
  margin-top: 50px;
}

/* Estilos CSS */
.service-item {
  padding-bottom: 15px; /* Espacio para separación */
  position: relative; /* Posición relativa para poder posicionar el subrayado */
}

.service-item strong {
  display: inline-block; /* Hace que el strong sea un bloque en línea */
}

.service-item .underline-orange {
  position: absolute;
  top: 4vh; /* Ajusta este valor según necesites */
  left: 0;
  width: 100%;
  height: 2px; /* Grosor del subrayado */
  background-color: #f59126; /* Color naranja como ejemplo */
}

.navbar {
  height: 80px;
  padding: 0 15px;
  background-color: #333;
}
.navbar-brand {
  position: relative;
}
.navbar-brand img {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}
.navbar-nav {
  margin-left: 25vh;
}
.navbar-nav .nav-link {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
.navbar-nav .nav-link:hover {
  background-color: #056347;
  color: #ccc;
}

.index-footer {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .index-body {
    background-color: #6e6969;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  h1 {
    font-size: 10vh;
  }
  .navbar {
    height: auto;
    padding: 10px;
  }
  .navbar-brand img {
    position: static;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
  }
  .navbar-nav {
    margin-left: 0;
    text-align: center;
  }
  .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px;
    display: block;
  }
}
