@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.index-body {
  background-color: #ececec;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.title-container {
  position: relative;
  z-index: 1;
  padding: 50px 20px;
  text-align: center;
  margin-top: 20px;
  animation: slideInLeft 2s ease-out;
}
.index-h1 {
  font-family: Arial;
  font-weight: 700;
  font-size: 15vh;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: backwards;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.navbar {
  height: 80px;
  padding: 0 15px;
  background-color: #333;
}
.navbar-brand {
  position: relative;
}
.navbar-brand img {
  width: 150px;
  height: 150px;
  margin-left: 15px;
}
.navbar-nav {
  margin-left: 25vh;
}
.navbar-nav .nav-link {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
.navbar-nav .nav-link:hover {
  background-color: #056347;
  color: #ccc;
}
.item {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease-out, transform 1s ease-out;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
}
.item img {
  width: 300px;
  max-width: 300px;
  border-radius: 10px;
}
.item p {
  margin: 5px;
  font-size: 24px;
  font-style: italic;
}
.item.show {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  opacity: 0;
  transform: translateY(50px);
}
.index-footer {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .index-body {
    background-color: #6e6969;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .index-h1 {
    font-size: 10vh;
  }
  .container {
    gap: 20px;
    margin-top: 20px;
  }
  .item {
    flex-direction: column;
  }
  .item img {
    max-width: 100%;
  }
  .item p {
    font-size: 16px;
  }
  #bg-video {
    display: none;
  }
  .navbar {
    height: auto;
    padding: 10px;
  }
  .navbar-brand img {
    position: static;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
  }
  .navbar-nav {
    margin-left: 0;
    text-align: center;
  }
  .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px;
    display: block;
  }
}
