* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-information-body {
  background-color: #ececec;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

nav {
  background-color: #000;
  height: 81px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.enlace {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Empuja los enlaces a la derecha */
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto; /* Empuja los enlaces a la derecha */
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  position: relative;
}

nav ul li a {
  color: #ffffff;
  font-size: 11px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li strong {
  font-size: 12px;
}

nav li a:hover {
  background-color: #ececee;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.submenu {
  position: absolute;
  background-color: #000;
  min-width: 160px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

nav ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu li {
  margin: 0;
  width: 100%; /* Asegúrate de que los li ocupen todo el ancho del submenu */
}

.submenu a {
  padding: 5px 10px;
  display: block;
  color: #fff;
  white-space: nowrap;
  line-height: 1.2;
  width: 100%; /* Asegúrate de que los a ocupen todo el ancho del submenu */
}

.submenu a:hover {
  background-color: #333;
}

.title-container {
  position: relative;
  z-index: 1;
  padding: 50px 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
  animation: slideInLeft 2s ease-out;
}

.contact-h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 15vh;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: backwards;
}

.container {
  margin-top: 0;
  padding: 20px;
}

.row {
  display: flex;
  align-items: stretch; /* Alinea las columnas verticalmente */
}

.offices-container {
  background-color: transparent;
  padding: 120px;
  margin-top: 10vh;
  margin-bottom: 20px;
}


.social-icons {
  display: flex;
  justify-content: left;
}



.social-icons a {
  margin: 0 10px;
}

.text-h3 {
  margin-bottom: 20px;
  color: #000;
}

.text-h4 {
  margin: 20px 0;
  color: #000;
  border-radius: 5px;
}

.ubicacion {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.social-icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px 0; /* Ajusta el margen según necesites */
  text-align: left;
}

.social-icons-footer a {
  margin-right: 10px; /* Ajusta el espacio entre los iconos según necesites */
}

.contact-addresses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-addresses a {
  text-align: left;
  display: block;
  margin-bottom: 10px; /* Puedes ajustar el margen según necesites */
  font-size: 13px;
}


.contact {
  margin-top: 100px;
}

.ubicacion p {
  color: #000;
  padding-left: 5px;
  margin: 0;
  display: flex;
  align-items: center;
}

.footerr {
  background-color: #000;
  padding: 20px;
  color: #fff;
}

.footer-section {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  text-align: left;
}

.footer-section li {
  list-style: none; /* Quita los puntos de la lista */
  margin-right: 20px;
}

.footer-section li a {
  color: #ffffff; /* Color de letra blanco */
  text-decoration: none; /* Quita la decoración del texto */
}

.footer-section li strong {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.footer-section .submenu-footer {
  padding: 0;
  margin-top: 5px;
}

.footer-section .submenu-footer li {
  margin: 2px 0; /* Espacio entre los elementos de la lista */
}

.footer-section .submenu-footer a {
  color: #ffffff; /* Color de letra blanco */
  text-decoration: none; /* Quita la decoración del texto */
  font-size: 13px;
}

.terms-conditions {
  text-align: center;
  padding: 10px 0;
}

.terms-conditions h6,
.terms-conditions p,
.terms-conditions a {
  color: #fff;
  margin: 5px 0;
  font-size: 12px;
}

@media (max-width: 768px) {
  .contact-information-body {
    background-color: #6e6969;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }

  .contact-h1 {
    font-size: 8vh;
  }

  .container {
    gap: 20px;
    margin-top: 20px;
  }

  .item {
    flex-direction: column;
  }

  .item img {
    max-width: 100%;
  }

  .offices-container {
    /* background-color: transparent;
    color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-bottom: 20px; */
    padding: 20px;
  }

  .form-container {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #fff;
  }

  #bg-video {
    display: none;
  }

  .checkbtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100; /* Asegura que el botón de hamburguesa esté por encima del contenido */
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
    flex-direction: column; /* Cambia la dirección del flexbox para mostrar los enlaces uno debajo del otro */
    padding-top: 20px; /* Añade espacio superior para el logo */
  }

  nav ul li {
    display: block;
    margin: 20px 0; /* Espacio entre los elementos */
    line-height: normal; /* Ajusta la altura de línea normal para evitar el espaciado adicional */
  }

  nav ul li a {
    font-size: 15px;
    display: block; /* Hace que cada enlace esté en su propia línea */
    padding: 10px; /* Ajusta el espaciado entre enlaces */
  }

  /* Ajuste para el submenu en dispositivos responsivos */
  .submenu {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  nav ul li:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .submenu li {
    text-align: center; /* Centrar los elementos del submenu */
  }
  .footer-section {
    flex-direction: column;
    align-items: left;
  }

  .footer-section > div {
    margin: 10px 0;
    width: 100%;
  }

  .footer-section h6 {
    font-size: 18px;
  }

  .footerr ul li {
    display: block;
    margin: 10px 0; /* Espacio entre los elementos */
    text-align: left;
    line-height: normal; /* Ajusta la altura de línea normal para evitar el espaciado adicional */
  }

  .submenu-footer li {
    text-align: left; /* Centrar los elementos del submenu */
  }

  .footerr ul li a {
    font-size: 13px;
    display: block; /* Hace que cada enlace esté en su propia línea */
    padding: 0px; /* Ajusta el espaciado entre enlaces */
  }
}